:root {
  --font-Crete: "Crete Round", serif;
  --font-Inter: "Inter", sans-serif;
  --font-Poppins: "Poppins", sans-serif;
  --font-Robot: "Roboto", sans-serif;
}

* {
  margin: 0.1px;
  padding: 0.1px;
  box-sizing: content-box;
}

body {
  font-family: var(--font-Inter);
}

header {
  background-color: #3c3a39;
  height: 60px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

header p {
  font-family: var(--font-inter);
  color: white;
  font-size: 18px;
  padding-left: 20px;
  font-weight: 700;
}

.logo a {
  text-decoration: none;
}

nav {
  margin-right: 20px;
}

nav img {
  height: 24px;
  width: 24px;
}

nav ul {
  display: none;
}

main {
  background-color: #1c1a19;
  height: 100%;
}

.intro {
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 80px;
  height: 590px;
  align-items: center;
}

.intro h1 {
  color: #ff6b00;
  font-size: 40px;
  font-family: var(--font-Crete);
}

.intro h2 {
  font-family: var(--font-Robot);
  color: white;
  font-size: 20px;
}

.intro p {
  font-family: var(--font-Poppins);
  padding-top: 10px;
  color: white;
  font-size: 16px;
}

.social-links {
  margin-top: 15px;
  display: flex;
  width: 200px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.btn img {
  height: 24px;
  width: 24px;
}

button {
  background: none;
  border: none;
}

.victor {
  position: absolute;
  right: 0%;
  bottom: 15%;
  z-index: 1;
}

.vector1 {
  width: 10px;
  height: 10px;
}

.my-projects {
  display: grid;
  background-color: white;
  grid-template-columns: auto;
  min-width: 375px;
  padding: 120px 0.1px 120px 0.1x;
}

.my-recent-work {
  display: flex;
  flex-direction: column;
  margin: 0.1px 24px 0.1px 24px;
  height: min-content;
}

.title1 h5 {
  font-family: var(--font-Crete);
  text-align: center;
  min-width: 327px;
  font-size: 40px;
  line-height: 52px;
}

.line {
  border-bottom: 3px solid black;
}

.placeholder {
  width: 327px;
  height: 237px;
  margin: 24px auto 24px auto;
}

.my-recent-work h3 {
  font-family: var(--font-Crete);
  font-size: 32px;
  line-height: 44px;
  align-items: center;
}

.my-recent-work p {
  font-size: 16px;
  line-height: 24px;
  align-items: center;
  margin: 5px 0.1px;
}

.my-recent-work ul {
  display: flex;
  flex-direction: row;
}

.icons-list li {
  margin-right: 10px;
  color: #505f79;
}

.my-recent-work ul li {
  margin-right: 5px;
  border: 1px solid #8993a4;
  background: white;
  align-items: center;
  padding: 3px 12px;
  font-size: 15px;
  line-height: 20px;
  list-style-type: none;
  width: fit-content;
}

.btn-language:hover {
  background-color: orange;
  color: white;
}

.btn-project {
  background: #ff6b00;
  border: none;
  color: white;
  position: static;
  left: 0.1px;
  width: 128px;
  height: 48px;
  margin: 5px 0.1px;
  align-items: center;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  padding: 3px 10px;
  cursor: pointer;
}

.btn-project:active {
  background: white;
}

.btn-project:hover {
  background-color: orange;
}

.project {
  background: url(img/Placeholder1.png);
  display: flex;
  flex-direction: column;
  margin: 7px 24px 7px 24px;
  height: 356px;
  min-width: 327px;
}

.project h2 {
  font-family: var(--font-Crete);
  color: white;
  font-size: 32px;
  line-height: 44px;
  height: 81px;
  padding-left: 12px;
  margin-top: 100px;
}

.project p {
  color: white;
  font-size: 16px;
  line-height: 20px;
  padding-left: 12px;
  margin-top: 5px;
}

.languages {
  display: flex;
}

.btn-lng {
  background: rgba(255, 255, 255, 0.24);
  align-items: center;
  padding: 10px 12px;
  margin: 10px 10px 10px 10px;
  font-size: 13px;
  line-height: 20px;
  color: white;
  list-style-type: none;
}

.see-Project {
  position: static;
  bottom: 0.1px;
  background: #ff6b00;
  border: none;
  color: white;
  min-width: 327px;
  height: 50px;
  align-items: center;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  cursor: pointer;
}

.see-Project:active {
  background-color: white;
}

.see-Project:hover {
  background-color: white;
  color: #ff6b00;
}

.about-me {
  background-color: black;
  display: flex;
  flex-direction: column;
  color: bisque;
  padding: 0.1px 24px;
}

.about-me h2 {
  font-family: var(--font-Crete);
  text-align: justify;
  font-size: 72px;
  color: #ff6b00;
  margin-top: 120px;
}

.about-me p {
  font-weight: 400;
  text-align: left;
  font-size: 16px;
  line-height: 24px;
  color: white;
  margin-top: 24px;
}

.get {
  border: none;
  position: static;
  background-color: #ff6b00;
  margin-top: 24px;
  width: 160px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  letter-spacing: 0.03em;
  font-weight: 700;
  cursor: pointer;
}

.get:active {
  background: rgb(255, 255, 255);
}

.get:hover {
  background-color: orange;
}

.line-1 img {
  position: absolute;
  justify-content: end;
  right: 0.1px;
  bottom: 10px;
}

.line-1 {
  position: relative;
  width: 100%;
  height: 160px;
  border-bottom: 2px solid white;
  margin-bottom: 100px;
}

.skills {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.skills h3 {
  color: white;
  font-size: 50px;
  margin-bottom: 45px;
}

.skills ul li {
  list-style-type: none;
  font-size: 22px;
  margin-bottom: 32px;
  color: white;
}

.footer-form {
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 1rem;
  padding: 0 24px;
  border-bottom: 1px solid#dfe1e6;
  padding-bottom: 130px;
}

.footer-form p {
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
  margin-top: 120px;
}

.footer-form form {
  display: flex;
  flex-direction: column;
}

.footer-form form label {
  display: flex;
  justify-content: center;
}

.footer-form form label input {
  width: 100%;
  height: 2rem;
  border: none;
  border-bottom: 1px solid #dbd8d7;
  margin-bottom: 15px;
  padding-bottom: 5px;
  padding-left: 5px;
}

.footer-form form label textarea {
  background-color: #fbf8f7;
  border: none;
  padding-top: 5px;
  padding-left: 5px;
  width: 100%;
  height: 114px;
  margin-bottom: 24px;
}

.footer-form form label textarea::placeholder {
  color: #3c3a39;
}

.footer-form form label button {
  background: #ff6b00;
  width: 131px;
  height: 48px;
  color: #fff;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  justify-content: center;
  cursor: pointer;
}

.footer-form form label button:hover {
  background: #ffbe90;
  color: #ff6b00;
}

.icons-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  margin-top: 7px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.icons-list li a {
  color: inherit;
  text-decoration: inherit;
}

.icons-list li a i {
  width: 20px;
  height: 20px;
}

.line-2 {
  display: flex;
  justify-content: center;
}

.line-2-1 {
  border-bottom: 5px solid #0d151e;
  width: 130px;
}

@media screen and (min-width: 720px) {
  .logo {
    flex: 2;
  }
  nav {
    flex: 1;
    margin-right: 50px;
  }

  nav img {
    display: none;
  }

  nav ul {
    display: flex;
    justify-content: space-between;
    color: white;
    list-style: none;
  }

  nav a {
    color: inherit;
    text-decoration: inherit;
  }

  .intro {
    height: 800px;
  }
  .intro h1 {
    margin-top: 150px;
    font-size: 72px;
  }
  .intro h2 {
    font-size: 32px;
  }

  .intro p {
    font-size: 20px;
    max-width: 560px;
  }

  .social-links {
    width: 50px;
    position: absolute;
    left: 10px;
    top: 370px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .title1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 135px 0px 114px 0px;
    grid-column: 1/4;
    grid-row: 1;
  }

  .line {
    width: 794px;
  }

  .my-recent-work {
    display: flex;
    flex-flow: row;
    align-items: stretch;
    justify-content: flex-start;
    grid-column: 1/4;
    grid-row: 2;
  }

  .content1 {
    display: flex;
    flex-direction: column;
    margin: 0px 24px 0px 0px;
    max-width: 448px;
  }

  .placeholder {
    order: -1;
    align-self: flex-start;
    min-width: 684px;
    min-height: 448px;
    margin: 0.1px 10px 24px 0.1px;
  }

  .content1 p {
    font-size: 20px;
  }

  .content1 h3 {
    font-size: 40px;
  }

  .my-projects {
    display: grid;
    padding: 0px 143px 0px 143px;
    margin: 0px;
  }

  .project {
    max-width: 369px;
    max-height: 435px;
  }
}
@media screen and (min-width: 1200px) {
  .vector1 {
    position: absolute;
    top: 70px;
    right: 0.1px;
    width: 662px;
    height: 875px;
  }
}
