* {
  margin: 0.1px;
  padding: 0.1px;
  box-sizing: content-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #3c3a39;
  height: 60px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

header p {
  color: white;
  font-size: 18px;
  padding-left: 20px;
  font-weight: 700;
}

nav {
  margin-right: 20px;
}

nav img {
  height: 24px;
  width: 24px;
}

main {
  background-color: #1c1a19;
  height: 100%;
}

.intro {
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 80px;
  height: 590px;
  align-items: center;
}

.intro h1 {
  color: #ff6b00;
  font-size: 40px;
  font-family: 'Courier New', Courier, monospace;
}

.intro h2 {
  color: white;
  font-size: 20px;
}

.intro p {
  padding-top: 10px;
  color: white;
  font-size: 16px;
}

.social-links {
  margin-top: 15px;
  display: flex;
  width: 200px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.btn img {
  height: 24px;
  width: 24px;
}

button {
  background: none;
  border: none;
}

.victor {
  position: absolute;
  right: 0%;
  bottom: 15%;
}

/* My my-projects */

.my-projects {
  display: grid;
  background-color: white;
  grid-template-columns: auto;
  min-width: 375px;
  padding: 120px 0.1px 120px 0.1px;
}

.my-recent-work {
  display: flex;
  flex-direction: column;
  margin: 0.1px 24px 0.1px 24px;
  height: min-content;
}

.my-recent-work h2 {
  text-align: center;
  min-height: 83px;
  min-width: 327px;
  font-size: 40px;
  line-height: 52px;
}

.line {
  border-bottom: 1px solid black;
}

.my-recent-work img {
  position: static;
  width: 327px;
  height: 237px;
  display: block;
  margin: 24px auto 24px auto;
}

.my-recent-work h3 {
  font-size: 32px;
  line-height: 44px;
  align-items: center;
}

.my-recent-work p {
  font-size: 16px;
  line-height: 24px;
  align-items: center;
  margin: 5px 0.1px;
}

.btn-language {
  border: 1px solid #8993a4;
  background: white;
  align-items: center;
  padding: 3px 12px;
  font-size: 15px;
  line-height: 20px;
}

.btn-language:hover {
  background-color: orange;
  color: white;
}

.btn-project {
  background: #ff6b00;
  border: none;
  color: white;
  position: static;
  left: 0.1px;
  width: 124px;
  margin: 5px 0.1px;
  align-items: center;
  font-family: inherit;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  padding: 3px 10px;
}

/* more projects */
.project {
  background: url(img/Placeholder1.png);
  display: flex;
  flex-direction: column;
  margin: 7px 24px 7px 24px;
  height: 356px;
  min-width: 327px;
}

.project h2 {
  color: white;
  font-size: 32px;
  line-height: 44px;
  height: 81px;
  padding-left: 12px;
  margin-top: 100px;
}

.project p {
  color: white;
  font-size: 16px;
  line-height: 20px;
  padding-left: 12px;
  margin-top: 5px;
}

.languages {
  display: flex;
}

.btn-lng {
  background: rgba(255, 255, 255, 0.24);
  align-items: center;
  padding: 10px 12px;
  margin: 10px 10px 10px 10px;
  font-size: 13px;
  line-height: 20px;
  color: white;
}

.see-Project {
  position: static;
  bottom: 0.1px;
  background: #ff6b00;
  border: none;
  color: white;
  min-width: 327px;
  height: 50px;
  align-items: center;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

/* about me */

.about-me {
  background-color: black;
  display: flex;
  flex-direction: column;
  color: bisque;
  padding: 0.1px 24px;
}

.about-me h2 {
  font-family: 'Courier New', Courier, monospace;
  text-align: justify;
  font-size: 72px;
  color: #ff6b00;
  margin-top: 120px;
}

.about-me p {
  text-align: left;
  font-size: 16px;
  line-height: 24px;
  color: white;
  margin-top: 24px;
}

.get {
  border: none;
  position: static;
  background-color: orange;
  margin-top: 24px;
  width: 160px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  letter-spacing: 0.03em;
  font-weight: 700;
}

.line-1 img {
  position: absolute;
  justify-content: end;
  right: 0.1px;
  bottom: 10px;
}

.line-1 {
  position: relative;
  width: 100%;
  height: 160px;
  border-bottom: 2px solid white;
  margin-bottom: 100px;
}

.skills {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.skills h3 {
  color: white;
  font-size: 50px;
  margin-bottom: 45px;
}

.skills ul li {
  list-style-type: none;
  font-size: 22px;
  margin-bottom: 32px;
  color: white;
}
